mixin cuboid(item)
  .cuboid(
    style={
      '--height': item.height,
      '--width': item.width,
      '--length': item.length
    }
  )
    - let s = 0
    while s < 6
      .cuboid__side
      - s++

html
  head
    title= 'Container Test'
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/assets/styles/main.css")
    script(type="text/javascript" src="/assets/js/dat.gui.min.js")

  body
    .scene
      .plane
        +cuboid(container)
        .items
          each item in items
            +cuboid(item)
    script(type="text/javascript" src="/assets/js/app.js")